## Data Analysis

In [2]:
##importing necessary libraries
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
##understanding the dataset
## the csv file consists of 4 columns
##first column is label which refers to the ploarity if it is hate speech or not
## second column is the catefory in which the speech belongs to for e.g General Profanity Violence etc
## the third column contains the key word of the sentece
## and finally the fourth column is the sentence itself

In [4]:
colnames = ['label','category','key_word','sentence']
df = pd.read_csv('./data.csv',names=colnames,header=None)

In [5]:
df.head()

,label,category,key_word,sentence
0,1,GENERAL,जोगाउन को लागि,गुठी विधेक ल्याएर ठमेल मा राज गुठि को जग्गा मा...
1,1,GENERAL,लखेटनु पछ,दले ले देश सकेछन सबै बेचे र खान सुरू गरेछन अब ...
2,1,GENERAL,ससकृती ध्वस्त पार्ने,नेपाल को ससकृती ध्वस्त पार्ने योजना हो यो !
3,1,GENERAL,भुमाफिया,मठ मन्दिर गुम्बा का जग्गा हरु मा भुमाफिया को न...
4,1,GENERAL,बेची सके,नेपाल का कल कर्खाना र नदि नाला बेची सके अब मठ ...

In [7]:
df[['label','category']].value_counts()

label  category
1      GENERAL      1782
0      GENERAL      1053
       FEEDBACK      428
       PROFANITY     299
1      VIOLENCE      174
0      VIOLENCE      113
1      PROFANITY     108
       FEEDBACK       78
dtype: int64

In [8]:
## We dont necessarily need to find the category of the sentence
## so we can get rid of the column
## but we need to classify whether the sentences in the category are hate or not
## so for this what we can do is:
## set all feedback category to 0 label(not hate) 
## violence to label 1
## profanity to label 1
## and general will remain as is

In [9]:
df.loc[df['category']=='FEEDBACK','label']=0

In [11]:
df.loc[df['category']=='FEEDBACK'].label.value_counts()
##i.e all the labels are now 0

0    506
Name: label, dtype: int64

In [12]:
df.loc[df['category']=='VIOLENCE','label']=1

In [13]:
df.loc[df['category']=='PROFANITY','label']=1

In [14]:
df.label.value_counts()

1    2476
0    1559
Name: label, dtype: int64

In [15]:
df.head()

,label,category,key_word,sentence
0,1,GENERAL,जोगाउन को लागि,गुठी विधेक ल्याएर ठमेल मा राज गुठि को जग्गा मा...
1,1,GENERAL,लखेटनु पछ,दले ले देश सकेछन सबै बेचे र खान सुरू गरेछन अब ...
2,1,GENERAL,ससकृती ध्वस्त पार्ने,नेपाल को ससकृती ध्वस्त पार्ने योजना हो यो !
3,1,GENERAL,भुमाफिया,मठ मन्दिर गुम्बा का जग्गा हरु मा भुमाफिया को न...
4,1,GENERAL,बेची सके,नेपाल का कल कर्खाना र नदि नाला बेची सके अब मठ ...

In [17]:
df.drop(['category','key_word'],axis=1)

      label                                           sentence
0         1  गुठी विधेक ल्याएर ठमेल मा राज गुठि को जग्गा मा...
1         1  दले ले देश सकेछन सबै बेचे र खान सुरू गरेछन अब ...
2         1        नेपाल को ससकृती ध्वस्त पार्ने योजना हो यो !
3         1  मठ मन्दिर गुम्बा का जग्गा हरु मा भुमाफिया को न...
4         1  नेपाल का कल कर्खाना र नदि नाला बेची सके अब मठ ...
...     ...                                                ...
4030      0  गाडी एकदम राम्रो छ तर रोड भने आलु जस्तो छ दुइच...
4031      0  गाडी एकदम राम्रो छ तर रोड भने आलु जस्तो छ दुइच...
4032      0                 कम से कम वायु प्रदूषण त कम हुन्छ ।
4033      0           अब यसरी नै अन्य बस हरु थप्दै लानु पर्छ ।
4034      0         गाडीत आयो तर सडक स्तरउन्नती गर्न्नु पर्छ ।

[4035 rows x 2 columns]

In [18]:
df.head()

,label,category,key_word,sentence
0,1,GENERAL,जोगाउन को लागि,गुठी विधेक ल्याएर ठमेल मा राज गुठि को जग्गा मा...
1,1,GENERAL,लखेटनु पछ,दले ले देश सकेछन सबै बेचे र खान सुरू गरेछन अब ...
2,1,GENERAL,ससकृती ध्वस्त पार्ने,नेपाल को ससकृती ध्वस्त पार्ने योजना हो यो !
3,1,GENERAL,भुमाफिया,मठ मन्दिर गुम्बा का जग्गा हरु मा भुमाफिया को न...
4,1,GENERAL,बेची सके,नेपाल का कल कर्खाना र नदि नाला बेची सके अब मठ ...

In [19]:
##now we need to get rid of all the english words and the emojis